# MuCoin network
CHAIN_ID="mucoin-1"
MONIKER="mucoin-pruned-01"

# Release
MUCOIND_VERSION="rewards-v0.7.0"
MUCOIND_ARCHIVE="mucoind-rewards-v0.7.0-linux-amd64.tar.gz"
MUCOIND_ARCHIVE_URL="https://github.com/dasgrid/mucoin/releases/download/rewards-v0.7.0/mucoind-rewards-v0.7.0-linux-amd64.tar.gz"
MUCOIND_ARCHIVE_CHECKSUM_URL="https://github.com/dasgrid/mucoin/releases/download/rewards-v0.7.0/mucoind-rewards-v0.7.0-linux-amd64.tar.gz.sha256"
MUCOIND_BINARY_NAME="mucoind-rewards-v0.7.0-linux-amd64"
MUCOIND_BINARY_SHA256="13a04366bb234ef56f610c422f4a6f40c8fe2113c2d0c32797fa69cd97675e8c"

# Genesis
GENESIS_URL="https://raw.githubusercontent.com/dasgrid/mucoin/main/networks/mucoin-1/genesis.json"
GENESIS_SHA256="87ebb6ceefd4d9a96c23bcefd0481e2c00efb2e2f155ce509944d9d38d9e2e55"

# Network
PERSISTENT_PEERS="32361fe4a8e26a1096261c031a951ed31bb07598@169.58.22.139:26656"
SEEDS=""
EXTERNAL_ADDRESS="217.216.54.125:26656"

# Low-disk node profile
MINIMUM_GAS_PRICES="0.0025umuc"
PRUNING="everything"
INDEXER="null"
SNAPSHOT_INTERVAL="0"
SNAPSHOT_KEEP_RECENT="2"
PROMETHEUS="false"

# Local interfaces
RPC_LADDR="tcp://127.0.0.1:26657"
P2P_LADDR="tcp://0.0.0.0:26656"
API_ENABLE="false"
API_ADDRESS="tcp://127.0.0.1:1317"
GRPC_ENABLE="false"
GRPC_ADDRESS="127.0.0.1:9090"

# Service
SERVICE_USER="mucoin"
SERVICE_GROUP="mucoin"
SERVICE_NAME="mucoind"
BINARY_INSTALL_PATH="/usr/local/bin/mucoind"
NODE_HOME="/home/mucoin/.mucoin"
